<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form th:action="@{/article/delete/{id}(id=${article.id})}" method="post">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title" th:value="${article.title}" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" id="content" name="content" rows="3" th:text="${article.content}" disabled="disabled"></textarea>
                    </div>


                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</main>