<main xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" th:text="${article.title}"></h5>
                <h6 class="card-subtitle mb-2 text-muted"><a th:href="@{/profile/{id}(id=${article.author.id})}" th:text="${article.author.fullName}"></a></h6>
                <p class="card-text" th:text="${article.content}"></p>
                <p>
                    <th:block th:each="tag : ${article.tags}">
                        <a class="btn btn-info btn-sm" th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                    </th:block>
                </p>

                <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(article)}">
                    <a  th:href="@{/article/edit/{id}(id=${article.id})}" class="card-link text-warning">Edit</a>
                    <a  th:href="@{/article/delete/{id}(id=${article.id})}" class="card-link text-danger">Delete</a>
                </th:block>
            </div>
            <div class="card-footer" sec:authorize="isAuthenticated()">
                <form th:action="@{/comment/add/{articleId}(articleId=${article.id})}" method="post">
                    <div class="form-group">
                        <label for="comment">Add comment</label>
                        <textarea class="form-control" id="comment" name="comment" rows="2"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
            </div>
        </div>
        <p></p>
        <div class="list-group">
            <th:block th:each="comment : ${article.comments}">
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${comment.author.fullName}"></h5>
                    </div>
                    <p class="mb-1" th:text="${comment.content}"></p>

                </div>
            </th:block>
        </div>
    </div>
</main>